<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index File HBS</title>
</head>
<body>
    <img src="https://afamilycdn.com/zoom/480_300/150157425591193600/2020/9/15/d2-16001850113151691777875-0-54-364-636-crop-16001863490781154106976.png" alt="doraemon">
</body>
</html>