<h1 class="text-primary">You already logout</h1>
<h2>
    <img src="https://c.tenor.com/9VUnmoW9gK4AAAAM/huanhoahong.gif" alt="aaaa">
    <br>
    <hr>
  <a class="btn btn-warning" href="/login">Login</a>
</h2>